extends layout

block content
  div(class='container')
    hr
    div(class='row')
      div(class='col-3')
        h3= 'Add new note:'
      div(class='col-9')
        form.form-inline(action="", method="post")
          input(type='text', class='form-control', id='idNote', placeholder='Note', name='note')
          input(type='text', class='form-control', id='idDesc', placeholder='Description', name='desc')
          textarea(class='form-control', id='tags', placeholder='Tags', rows='1', name='tags')
          button(type='submit', class='btn')='Add'

    hr
    div(class='row')
      div(class='col-3')
        h3= 'Search:'
      div(class='col-9')
        form.form-inline
          input(type='text', class='form-control', id='idSearch', placeholder='Search')
          button(type='submit', class='btn')='Ok'

    hr
    div(class='row')
      div(class='col')
        ul
          each note in notes
            li(class='note')= note.note
              span(class='note-desc')= note.desc
